#yaz{
    height: 200px;
    width: 200px;
    border: 10px solid hotpink;
    outline: 20px groove  brown;
    margin: 20px 20px;
    border-radius: 40%;
    background-image: url(yaz2.jpeg);
    background-size: cover;
    background-position: center;
}
#yay{
    height: 200px;
    width: 200px;
    border: 10px solid lime;
    outline: 20px groove  green;
    margin: 20px 20px;
    border-radius: 40%;
    background-image: url(yay1.jpeg);
    background-size: cover;
    background-position: center;
}
.payiz{
    height: 200px;
    width: 200px;
    border: 10px solid orange;
    outline: 20px groove  brown;
    margin: 20px 20px;
    border-radius: 40%;
    background-image: url(payiz1.jpeg);
    background-size: cover;
    background-position: center;
}
.qis{
    height: 200px;
    width: 200px;
    border: 10px solid white;
    outline: 20px groove  skyblue;
    margin: 20px 20px;
    border-radius: 40%;
    background-image: url(qis3.jpeg);
    background-size: cover;
    background-position: center;
}